@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to top, #e4bbd8 0%, #9dbef7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    overflow: auto;
    overflow-x: hidden;
}

.alter-glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-card {
    background: rgba(115, 96, 119, 0.144);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.neumorp-card {
    background: #F3F1F5;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    height: 100%;
    font-size: 1rem;
}

.jumbotron {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: auto;
    text-align: center;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 10;
    align-self: flex-start;
    z-index: 1;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    align-self: flex-start;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

nav li {
    list-style-type: none;
}

nav li:last-child{
    cursor: pointer;
}

#switch {
    background-color: #b989c5;
    border-radius: 8px;
    padding: 0px 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    font-weight: bold;
}

.nav-link {
    display: none;
}

#navBottom {
    padding: 0px 25px;
    width: auto;
    text-align: center;
    border-radius: 0px;
    height: 60px;
}

#navBottom ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button img {
    width: 25px;
    height: 25px;
}

main {
    margin: 15px 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 16px;
    border-left: 0px;
}

#profile{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 20px;
}

#profile header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    font-size: 1rem;
}

#profile img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 7px;
}

#profile section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#profile section h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

#profile section div {
    text-align: left;
    margin: 0px 15px;
    margin-bottom: 5px;
    font-size: 1rem;
}

#profile section div p {
    padding-left: 8.3px;
}

#home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 30px 0px;
}

#home div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 30px;
    gap: 10px;
}

#home div h1 {
    font-size: 1.2rem;
}

#home div p {
    font-size: 0.8rem;
}

#home figure {
    width: 60%;
}

#home img {
    width: 100%;
}

#pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    gap: 30px;
    background-color: #443f450e;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    margin:0px;
}

#pricing h1 {
    width: 100%;
}

#priceMenu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 1rem;
    color: black;
}

.basic-member,
.premium-member,
.platinum-member {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 15px;
    padding: 15px 25px;
}

.basic-member header,
.premium-member header,
.platinum-member header {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basic-member header p,
.premium-member header p,
.platinum-member header p {
    font-size: 1rem;
    color: #BFA2DB;
    font-weight: bold;
}

.basic-member section,
.premium-member section, 
.platinum-member section {
    color: #7F7C82;
    font-size: 1rem;
    margin-left: 8%;
}

.basic-member section ul,
.premium-member section ul, 
.platinum-member section ul {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    font-size: 1rem;
    padding: 0px 20px;
    min-height: 175px;
    width: 100%;
}

.footer {
    padding: 50px 0px;
    background: rgba(40, 10, 48, 0.209);
    border-radius: 0px;
    text-align: center;
}

@media screen and (min-width: 458px) {
    .nav-link {
        display: inline;
    }

    #navBar nav {
        min-width: 300px;
    }

    #navBar nav ul {
        display: flex;
        justify-content: space-between;
    }

    #navBottom {
        display: none;
    }

    #home figure {
        width: 300px;
    }
}

@media screen and (min-width: 762px) {
    main {
        margin: 10px 30px;
    }

    #navBar {
        margin: 10px 30px;
    }

    #navBar .logo {
        font-size: 1.5rem;
    }

    #navBar nav li {
        font-size: 1.2rem;
    }

    #profile header h1 {
        font-size: 2rem;
    }

    #profile section h3 {
        margin-bottom: 5px;
        font-size: 1.8rem;
    }

    #profile section div {
        font-size: 1.2rem;
    }

    #home div h1 {
        font-size: 2rem;
    }

    #home div p {
        font-size: 1.2rem;
    }

    #pricing h1 {
        font-size: 2rem;
    }

    #priceMenu {
        gap: 50px;
    }

    .basic-member,
    .premium-member,
    .platinum-member {
        width: 330px;
    }

    .basic-member header h2,
    .premium-member header h2,
    .platinum-member header h2{
        font-size: 1.8rem;
    }

    .basic-member header p,
    .premium-member header p,
    .platinum-member header p{
        font-size: 1.3rem;
    }

    .basic-member section ul li,
    .premium-member section ul li,
    .platinum-member section ul li{
        font-size: 1.15rem;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    main {
        flex-direction: row;
        gap: 0px;
    }

    #content {
        width: 100%;
        border-radius: 0px 16px 16px 0px;
    }

    #profile {
        border-radius: 16px 0px 0px 16px;
        width: 100%;
        max-width: 350px;
    }

    #home div {
        text-align: left;
    }
}

@media screen and (min-width: 1200px){
    #home {
        flex-direction: row;
        padding: 30px 35px;
    }

    #home div {
        width: 40%;
        margin: 0px;
    }

    #home figure {
        width: 450px;
    }

    #about {
        padding: 0px 50px;
    }
}